<div class="intro column is-8 is-offset-2">
    <h2>Current Odds</h2>
    <p>Baseball</p>
    <table style="width:100%">
        <tr>
            <th>Home</th>
            {{#each eventsArray}}
            <th>{{this.eventDate}}</th>
            <th>Away</th>
        </tr>
        <tr>
            <td>{{this.homeTeam}}</td>
            <td></td>
            <td>{{this.awayTeam}}</td>
        </tr>
        <tr>
            <td>{{this.homePoints}}</td>
            <td>Points</td>
            <td>{{this.awayPoints}}</td>
        </tr>
        <tr>
            <td>{{this.homeMoney}}</td>
            <td>MoneyLine</td>
            <td>{{this.awayMoney}}</td>
        </tr>
    </table>

    <table style="width:100%">
        <tr>
            <th colspan="3">Total</th>
        </tr>
        <tr>
            <td>Over</td>
            <td>{{this.totalOver}}</td>
            <td>{{this.totalOverMoney}}</td>
        </tr>
        <tr>
            <td>Under</td>
            <td>{{this.totalUnder}}</td>
            <td>{{this.totalUnderMoney}}</td>
        </tr>
        {{/each}}

    </table>
</div>

<section class="container">

    <div class="sandbox">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Baseball</p>
                    <figure class="image is-4by3">
                        <img src="/images/baseball.jpg" alt="Description">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Basketball</p>
                    <figure class="image is-4by3">
                        <img src="/images/basketball.jpg" alt="Description">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Hockey</p>
                    <figure class="image is-4by3">
                        <img src="/images/hockey.jpg" alt="Description">
                    </figure>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Rugby</p>
                    <figure class="image is-4by3">
                        <img src="/images/rugby.jpg" alt="Description">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Soccer</p>
                    <figure class="image is-4by3">
                        <img src="/images/soccer.jpg" alt="Description">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Tennis</p>
                    <figure class="image is-4by3">
                        <img src="/images/tennis.jpg" alt="Description">
                    </figure>
                </article>
            </div>
        </div>


    </div>

</section>

<!-- Contact Us Section -->
	<section class="hero" id="contact-us">
		<div class="hero-body">
			<div class="container">
				<div>
					<div class="content">
						<h4 class="title is-4">Sign Up For Daily Odds</h4>
					</div>
					<h6 class="subtitle is-6">All Sports. All World. All Safe. The Latest Odds On Your Favorite Sports Are Keystrokes Away.

                    </h6>

					<div class="columns box">
						<form class="column" action="#">
							<div class="field">
								<label class="label">First Name</label>
								<div class="control">
									<input class="input" type="text" placeholder="First Name" required="">
								</div>
							</div>

							<div class="field">
								<label class="label">Last Name</label>
								<div class="control">
									<input class="input" type="text" placeholder="Last Name" required="">
								</div>
							</div>

							<div class="field">
								<label class="label">Email</label>
								<div class="control">
									<input class="input" type="text" placeholder="Email" required="">
								</div>
							</div>

							<div class="field">
								<label class="label">Password</label>
								<div class="control">
									<input class="input" type="text" placeholder="Password" required="">
								</div>
							</div>


							<div class="field">
								<label class="label"></label>
								<div class="control">
									<input class="button is-primary" type="submit">
								</div>
							</div>
						</form>

					
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ./Contact Us Section -->