<div class="main-stats-background intro column is-8 is-offset-2">
    <h2>Current Odds</h2>
    <p>Baseball</p>
    <table style="width:100%">
        <tr>
            <th>Home</th>
            {{#each eventsArray}}
                <th>{{this.eventDate}}</th>
                <th>Away</th>
        </tr>
        <tr>
            <td>{{this.homeTeam}}</td>
            <td></td>
            <td>{{this.awayTeam}}</td>
        </tr>
        <tr>
            <td>{{this.homePoints}}</td>
            <td>Points</td>
            <td>{{this.awayPoints}}</td>
        </tr>
        <tr>
            <td>{{this.homeMoney}}</td>
            <td>MoneyLine</td>
            <td>{{this.awayMoney}}</td>
        </tr>
    </table>

    <table style="width:100%">
        <tr>
            <th colspan="3">Total</th>
        </tr>
        <tr>
            <td>Over</td>
            <td>{{this.totalOver}}</td>
            <td>{{this.totalOverMoney}}</td>
        </tr>
        <tr>
            <td>Under</td>
            <td>{{this.totalUnder}}</td>
            <td>{{this.totalUnderMoney}}</td>
        </tr>
        {{/each}}

    </table>
</div>



<!-- Contact Us Section -->

<!-- ./Contact Us Section -->